//inter font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$inter: 'Inter', sans-serif;

//main section heading color
$mainColor: #000000;

$black: #222222;

$grayBorder: 1px solid #CCCCCC;
$boxBackgroundColor:#FFFFFF;

$gray: #777777;
$background-color: #FFFFFF;
$light-purple: rgba(92, 0, 220, 0.08);
$purple: #5C00DC;




